/target
.idea
.vscode
target
.DS_Store
**/target
mcp-proxy/logs
logs
.venv
venv
.idea/rmcp_proxy.iml

packages


document-parser/data/*
scripts/temp/*
data/*
temp/*
server.log
:memory:/*
document-parser/:memory:/*

document-parser/temp/*
